* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open Sans', sans-serif;
    line-height: 1;
}

.title {
    text-align: center;
    font-size: 80px;
}

.header {
    padding: 30px 50px;
    background-image: url("../images/pngtree-movie-theme-background--film-element-image_222132.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
 
header p {
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hover:hover{
    color: turquoise;
}


.navbar {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1 {
    font-size: 30px;
    padding: 5px 17px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}